/*// peach*/
$pcolor: #F2E4CD;
/*gold*/
$scolor: #AFA365;

$fontcolor: #AFA365;

/*gold button font size*/
$bfsize: 0.9em; 

$fonttype: Verdana;

/*menu button font size*/

$menufsize: 1.5em;

$menuftype: Georgia;


$maintext: Verdana;
$mainsize: 0.8em;



